<section class="article-highlight large">
  <div class="highlight-content">
    <h1 class="highlight-heading">TripleT Softworks Email Marketing Privacy Policy</h1>
    <div class="u-left-aligned-content">
      <p>This email marketing privacy policy has been created in an effort to demonstrate our strong commitment to your privacy and protection of your personal information.</p>

      <h2 class="content-title">Why Did You Receive An Email From Us?</h2>

      <p>If you received an email sent by us, it is because our records indicate that you have expressly shared this address for the purpose of receiving information from us ("opt-in").</p>

      <h2 class="content-title">How Can You Stop Receiving Email From Us?</h2>

      <p>Each email that we send contains unsubscribe link that will allow you stop receiving email from us. If you do not wish to receive further mailings, simply click on the unsubscribe link provided in the email. You will be immediately removed from our mailing list.</p>

      <h2 class="content-title">Collection And Use Of Your Information</h2>

      <p>TripleT Softworks uses permission-based email marketing service. Our customers can opt-in to receive information and marketing communication emails from us.</p>

      <p>When our customers opt-in to receive our communication messages, we collect personally identifiable information from you that includes your email address [and name].</p>

      <p>We will never sell, share, or rent individual personal information with any external parties without your advance written permission or unless ordered by a court of law. Information submitted to us is only available to our employees managing this information for the purposes of contacting you, or sending you emails based on your request for information, and to contracted service providers for purposes of providing services related to our communications with you.</p>

      <h2 class="content-title">How Do We Protect Your Privacy And The Security Of Your Information?</h2>

      <p>We use the latest and generally approved security measures to protect against the loss, misuse and alteration of information collected from you.</p>

      <p>Your data is protected under the Finnish Act on the Protection of Privacy in Electronic Communications.</p>

      <p>Our email and data storage services may use infrastructure that is based outside of the EU (namely, the United States), and we, or our subcontractors, may utilise cloud technology to store or process personal information, which may result in storage of data outside of the EU. By explicitly requesting information from us (“opt-in”) you give us permission to store your information outside of the EU as needed to provide you information and services that you have requested to receive.</p>

      <h2 class="content-title">Use Of Web Beacons</h2>

      <p>When you receive an email sent by us, the email may include a so called web beacon to measure marketing effectiveness. When you click on a link provided in the email, we may record that response so that we can better serve you in the future by customizing our offerings.</p>

      <h2 class="content-title">Changes In Our Practices</h2>

      <p>TripleT Softworks reserves the right to modify this Privacy Policy at any time. If we decide to update this Policy, the updated changes can be found in this Policy and any other places we deem appropriate to post them.</p>

      <h2 class="content-title">Contacting Us</h2>

      <p>If you have any questions about this Privacy Policy, or if you believe you have received unwanted, unsolicited email sent by us, please contact us at: <a href="mailto:tatu@triplet.fi">tatu@triplet.fi</a> We will look into the matter immediately.</p>
    </div>
    <small class="u-centered-text">This Privacy Policy was last updated: 30.06.2016</small>
  </div>
</section>