{{!< Layouts/Main}}

{{#contentFor "outsidePageWrap"}}
  <header class="site-intro">
  	<img class="site-intro-image"
		 src="images/TripleT_logo.svg"
		 alt="TripleT Logo" />
  </header>
{{/contentFor}}

<section class="group me-and-what-i-do">
	<header>
		<h1 class="group-title">Me &amp; what I do</h1>
	</header>

	<div class="me-and-what-i-do-wrapper">
		<section class="article-highlight large">
			<img class="article-highlight-image" src="images/tatu_tamminen.jpg" alt="Tatu Tamminen">
			<div class="highlight-content">
				<h1 class="highlight-heading">Tatu Tamminen
					<span class="highlight-subheading">Independent Web software developer</span>
				</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				</p>
			</div>
			<a href="/about" class="button highlight-action-link">More about me</a>
		</section>

		<div class="skills-call-to-action-wrapper">
			<section class="text-highlight">
				<div class="highlight-content">
					<h1 class="text-highlight-heading">Skills and focus</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</section>

			<section class="call-to-action">
				<h1 class="call-to-action-header">
					<a href="#">Hire me</a>
				</h1>
			</section>
		</div>
	</div>
</section>

<section class="group">
	<header>
		<h1 class="group-title">Selected work</h1>
	</header>
	<div class="references-wrapper">
		<section class="article-highlight">
			<img class="article-highlight-image" src="http://magicmockups.com/media/screen/guest/86/32bf0ecafb4645f880ef5ab8f6227508_3_1280.jpg" alt="Sympa HR photo">
			<div class="highlight-content">
				<h1 class="highlight-heading"><a class="highlight-heading-link" href="http://www.sympa.net/home.html">Sympa HR</a></h1>
				<small>The cloud-based, global human resources system, Sympa HR combines all HRM and HRD processes including recruitment into a single, logical entity. This system ensures that personnel information is up-to-date at all times and accessible by the appropriate persons, while offering diverse reporting options.</small>
				<blockquote class="plain">Efficient — with passion and ability that is rarely encountered. Tatu has great dialogue with design teams, is firm in his front-end skills, and challenges design decisions that will impact the performance and/or usability of large, highly important site.<span>Mikko Kojo</span></blockquote>
			</div>
		</section>
		<section class="article-highlight">
			<img class="article-highlight-image" src="images/dearlucy_mock.jpg" alt="Dear Lucy mock">
			<div class="highlight-content">
				<h1 class="highlight-heading"><a class="highlight-heading-link" href="http://www.dearlucy.co">Dear Lucy</a></h1>
				<small>The cloud-based, global human resources system, Sympa HR combines all HRM and HRD processes including recruitment into a single, logical entity. This system ensures that personnel information is up-to-date at all times and accessible by the appropriate persons, while offering diverse reporting options.</small>
				<blockquote class="plain">Efficient — with passion and ability that is rarely encountered. Tatu has great dialogue with design teams, is firm in his front-end skills, and challenges design decisions that will impact the performance and/or usability of large, highly important site.<span>Mikko Kojo</span></blockquote>
			</div>
		</section>
		<section class="article-highlight">
			<img class="article-highlight-image" src="images/mock_306.png" alt="Mock-image">
			<div class="highlight-content">
				<h1 class="highlight-heading">Article highlight title</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
		</section>
	</div>
</section>