{{#contentFor "outsidePageWrap"}}
  <header class="site-intro">
  	<img class="site-intro-image"
		 src="images/TripleT_logo.svg"
		 alt="TripleT Logo" />
  </header>
{{/contentFor}}

<section class="group me-and-what-i-do">
	<header>
		<h1 class="group-title">What I offer</h1>
	</header>

	<div class="me-and-what-i-do-wrapper">
		<section class="article-highlight large">
			<img class="article-highlight-image" src="images/tatu_tamminen.jpg" alt="Tatu Tamminen">
			<div class="highlight-content">
				<h1 class="highlight-heading">Tatu Tamminen
					<span class="highlight-subheading">Independent Web Developer</span>
				</h1>
				<p>I can help you on following:</p>
				<ul class="u-left-aligned-content">
					<li>Turn idea to a service</li>
					<li>Help building a multidisciplinary team</li>
					<li>Implement features that matter</li>
					<li>Optimize page load and render times</li>
				</ul>
			</div>
			<!--<a href="/about" class="button highlight-action-link">More about me</a>-->
		</section>

		<div class="skills-call-to-action-wrapper">
			<section class="text-highlight skills-and-focus">
				<div class="highlight-content">
					<h1 class="highlight-heading">Are you looking for someone who can help to build a Web-based service?</h1>
					<p>If so you are in the right place. I am an experienced Web developer, and I have a plenty of experience on cloud-based SaaS products.</p>
				</div>
			</section>

			<section class="call-to-action">
				<h1 class="call-to-action-header">
					<a href="mailto:tatu@triplet.fi?subject=We%20would%20like%20to%20work%20with%20you">Hire me</a>
				</h1>
			</section>
		</div>
	</div>

	<section class="article-highlight article-highlight-half">
		<blockquote class="plain frontpage-testimonial">Efficient — with passion and ability that is rarely encountered. Tatu has great dialogue with design teams, is firm in his front-end skills, and challenges design decisions that will impact the performance and/or usability of large, highly important site.<span>Mikko Kojo - Product Director at Sympa</span></blockquote>
	</section>	
</section>

<section class="group">
	<header>
		<h1 class="group-title">Selected work</h1>
	</header>

	<div class="references-wrapper">
		<section class="article-highlight">
			<img class="article-highlight-image black" src="images/contractzen.png" alt="ContractZen photo">
			<div class="highlight-content">
				<h1 class="highlight-heading"><a class="highlight-heading-link" href="https://www.contractzen.com/en/">ContractZen</a></h1>
				<p>Due Diligence solution for the 21st century
ContractZen is the smartest way to manage your contracts, executive meetings and financial documents easily and securely.</p>
			</div>
		</section>	
		<section class="article-highlight">
			<img class="article-highlight-image" src="images/sympa_mock.jpg" alt="Sympa HR photo">
			<div class="highlight-content">
				<h1 class="highlight-heading"><a class="highlight-heading-link" href="http://www.sympa.net/home.html">Sympa HR</a></h1>
				<p>The cloud-based, global human resources system, Sympa HR combines all HRM and HRD processes including recruitment into a single, logical entity.</p>
			</div>			
		</section>
		<section class="article-highlight">
			<img class="article-highlight-image" src="images/dearlucy_mock.jpg" alt="Dear Lucy mock">
			<div class="highlight-content">
				<a class="highlight-heading highlight-heading-link" href="http://www.dearlucy.co">Dear Lucy</a>
				<p>Dear Lucy collects your key metrics from your business software, documents and peoples' heads into pretty dashboards showing you if you're hitting goals.
 				</p>

				<!--<a href="/blog/" class="emphasized highlight-action-link">Read Case Study</a>-->
			</div>
		</section>
	</div>
</section>

<section class="group">
	<section class="article-highlight article-highlight-half">
		<div class="highlight-content">
			<h1 class="highlight-heading"><a class="highlight-heading-link" href="/blog">Blog</a></h1>
			<p>Thoughts on programming, technology and freelancing</p>
		</div>
	</section>
</section>