{{!< Layouts/Main}}

{{#contentFor "outsidePageWrap"}}
  <header class="site-intro">
  	<img class="site-intro-image"
		 src="images/TripleT_logo.svg"
		 alt="TripleT Logo" />
  </header>
{{/contentFor}}

<section class="group me-and-what-i-do">
	<header>
		<h1 class="group-title">Me &amp; what I do</h1>
	</header>

	<div class="me-and-what-i-do-wrapper">
		<section class="article-highlight large">
			<img class="article-highlight-image" src="images/mock_472.png" alt="Mock-image">
			<div class="highlight-content">
				<h1 class="highlight-heading">Tatu Tamminen
					<span class="highlight-subheading">Independent Web software developer</span>
				</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				</p>
			</div>
			<a href="/about" class="button highlight-action-link">More about me</a>
		</section>

		<div class="skills-call-to-action-wrapper">
			<section class="text-highlight">
				<div class="highlight-content">
					<h1 class="text-highlight-heading">Skills and focus</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</section>

			<section class="call-to-action">
				<h1 class="call-to-action-header">
					<a href="#">Hire me</a>
				</h1>
			</section>
		</div>
	</div>
</section>

<section class="group">
	<header>
		<h1 class="group-title">References</h1>
	</header>
	<section class="article-highlight">
		<img class="article-highlight-image" src="images/mock_306.png" alt="Mock-image">
		<div class="highlight-content">
			<h1 class="highlight-heading">Article highlight title</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</section>
	<section class="article-highlight">
		<img class="article-highlight-image" src="images/mock_306.png" alt="Mock-image">
		<div class="highlight-content">
			<h1 class="highlight-heading">Article highlight title</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
	</section>
	<section class="article-highlight">
		<img class="article-highlight-image" src="images/mock_306.png" alt="Mock-image">
		<div class="highlight-content">
			<h1 class="highlight-heading">Article highlight title</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
	</section>
</section>