{{!< Layouts/Main}}

{{#contentFor "outsidePageWrap"}}
  <header class="site-intro">
  	<img class="site-intro-image"
		 src="images/TripleT_logo.svg"
		 alt="TripleT Logo" />
  </header>
{{/contentFor}}

<section class="group me-and-what-i-do">
	<header>
		<h1 class="group-title">Me &amp; what I do</h1>
	</header>

	<div class="me-and-what-i-do-wrapper">
		<section class="article-highlight large">
			<img class="article-highlight-image" src="images/tatu_tamminen.jpg" alt="Tatu Tamminen">
			<div class="highlight-content">
				<h1 class="highlight-heading">Tatu Tamminen
					<span class="highlight-subheading">Independent Web software developer</span>
				</h1>
				<p>I am available for hire to consult, design and develop with passionate product teams across the globe.</p>

				<p>I specialise in large, product-based projects where usability, performance and availability are critical.
				</p>
			</div>
			<!--<a href="/about" class="button highlight-action-link">More about me</a>-->
		</section>

		<div class="skills-call-to-action-wrapper">
			<section class="text-highlight skills-and-focus">
				<div class="highlight-content">
					<h1 class="text-highlight-heading">Skills and focus</h1>
					<p>Bringing <em>value</em> to the customer is my main focus and the design &amp; development are a way to achieve business goals.</p>
					<p>Besides programming, I also have kept training sessions about modern Web development.</p>
				</div>
			</section>

			<section class="call-to-action">
				<h1 class="call-to-action-header">
					<a href="mailto:tatu@triplet.fi?subject=We%20would%20like%20to%20work%20with%20you">Hire me</a>
				</h1>
			</section>
		</div>
	</div>
</section>

<section class="group">
	<header>
		<h1 class="group-title">Selected work</h1>
	</header>
	<div class="references-wrapper">
		<section class="article-highlight">
			<img class="article-highlight-image" src="http://magicmockups.com/media/screen/guest/86/32bf0ecafb4645f880ef5ab8f6227508_3_1280.jpg" alt="Sympa HR photo">
			<div class="highlight-content">
				<h1 class="highlight-heading"><a class="highlight-heading-link" href="http://www.sympa.net/home.html">Sympa HR</a></h1>
				<p>The cloud-based, global human resources system, Sympa HR combines all HRM and HRD processes including recruitment into a single, logical entity. This system ensures that personnel information is up-to-date at all times and accessible by the appropriate persons, while offering diverse reporting options.</p>


				<blockquote class="plain">Efficient — with passion and ability that is rarely encountered. Tatu has great dialogue with design teams, is firm in his front-end skills, and challenges design decisions that will impact the performance and/or usability of large, highly important site.<span>Mikko Kojo</span></blockquote>
			</div>
		</section>
		<section class="article-highlight">
			<img class="article-highlight-image" src="images/dearlucy_mock.jpg" alt="Dear Lucy mock">
			<div class="highlight-content">
				<h1 class="highlight-heading"><a class="highlight-heading-link" href="http://www.dearlucy.co">Dear Lucy</a></h1>
				<p>Dear Lucy collects your key metrics from your business software, documents and peoples' heads into pretty dashboards showing you if you're hitting goals.
 
Stay up to date with important metrics anywhere.
With your beloved smart phone, tablet or laptop.
 				</p>

				<!--<a href="/blog/" class="emphasized highlight-action-link">Read Case Study</a>-->
			</div>
		</section>
	</div>
</section>