{{#contentFor "bodyClass"}}
  styleguide
{{/contentFor}}

{{#contentFor "head"}}
  <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
{{/contentFor}}

<h1>Styleguide</h1>
<h2>Colours</h2>
<ul class="styleguide-colors">
	<li>
		<div class="green"></div>
		Green
	</li>
	<li>
		<div class="abbey"></div>
		Abbey
	</li>
	<li>
		<div class="white"></div>
		White
	</li>
	<li>
		<div class="gallery"></div>
		Gallery
	</li>
	<li>
		<div class="silverchalice"></div>
		Silver Chalice
	</li>
	<li>
		<div class="spunpearl"></div>
		Spun Pearl
	</li>
	<li>
		<div class="fiord"></div>
		Fiord
	</li>
</ul>
<h2>Typography</h2>
<h3>Sizes</h3>
<div class="styleguide-section">
	<small>small</small>
	<p>body</p>
	<p class="alpha">alpha</p>
	<p class="beta">beta</p>
	<p class="gamma">gamma</p>
	<p class="delta">delta</p>
	<p class="epsilon">epsilon</p>
	<p class="zeta">zeta</p>
	<p class="eta">eta</p>
</div>

<h2>Buttons</h2>
<a href="#" class="button">Linkkipainike</a>
<hr>
<h2>Lists</h2>
<h3>Tag selector</h3>
<ul class="tag-selector">
	<li class="tag-selector-item active"><a href="#">Active tag</a></li>
	<li class="tag-selector-item"><a href="#">Inactive tag #1</a></li>
	<li class="tag-selector-item"><a href="#">Inactive tag #2</a></li>
	<li class="tag-selector-item"><a href="#">Inactive tag #3</a></li>
	<li class="tag-selector-item"><a href="#">Inactive tag #4</a></li>
</ul>
<h3>Item list</h3>
<ul class="">
	<li></li>
</ul>
<h2>Images</h2>
<h3>CV / Avatar</h3>
<img src="/images/cv_tatu_tamminen.jpg" alt="CV"/>
<hr>
<h2>Highlights</h2>
<h3>Article highlight</h3>
<div class="highlights">
	<section class="group">
		<header>
			<h1 class="group-title">Group Title</h1>
		</header>

		<section class="article-highlight">
			<img class="article-highlight-image" src="images/mock_306.png" alt="Mock-image">
			<div class="highlight-content">
			<h1 class="highlight-heading">Article highlight title</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</section>
		<section class="article-highlight">
			<img class="article-highlight-image" src="images/mock_306.png" alt="Mock-image">
			<div class="highlight-content">
				<h1 class="highlight-heading">Article highlight title</h1>
				<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<a href="#" class="button highlight-action-link">More about me</a>
			</div>
		</section>
	</section>

	<section class="group">
		<header>
			<h1 class="group-title">Group Title</h1>
		</header>
		<section class="text-highlight">
			<div class="highlight-content">
				<h1 class="text-highlight-heading">Text highlight</h1>
				<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</section>
	</section>

	<section class="group">
		<header>
			<h1 class="group-title">Group Title</h1>
		</header>
		<section class="call-to-action">
			<h1 class="call-to-action-header">
				<a href="#">Hire me</a>
			</h1>
		</section>

		<section class="article-highlight large">
			<img class="article-highlight-image" src="images/mock_472.png" alt="Mock-image">
			<div class="highlight-content">
				<h1 class="highlight-heading">Heading
					<span class="highlight-subheading">Subheading</span>
				</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<a href="#" class="button highlight-action-link">More about me</a>
		</section>
	</section>
</div>

<article class="blog-post">
	<header class="image-header" style="background-image: url('/images/mock_blog_highlight.jpg')">
		<h1>Example blog post</h1>
	</header>
	<div class="blog-post-content">
		<div class="blog-post-info">
			<h2 class="blog-post-info-header blog-post-caption">January 3, 2015 <span>Category 1</span></h2>
		</div>
		<div class="blog-post-body">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, dicta, atque assumenda obcaecati dolor voluptas, est dolorem eligendi doloribus eos quidem. Accusamus expedita ea neque, perferendis perspiciatis distinctio veniam ipsa.</p>
			<pre>
				<code class="hljs javascript">
function foo() {
var x = -3;
if (x < 0) {  // (*)
var tmp = -x;
...
}
console.log(tmp);  // 3
}
				</code>
			</pre>
			<img class="blog-post-right-floated-content-image" src="/images/mock_blog_content.jpg" alt="Dummy content image"/>
			<h3 class="blog-post-caption">Test content caption</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus perferendis officiis quos inventore aspernatur eaque soluta ullam veritatis non aliquid dignissimos esse perspiciatis numquam quia nesciunt officia, ratione molestiae doloribus.</p>
		</div>
		<div class="blog-post-share">
			<p class="blog-post-share-caption">Share this post</p>
		</div>
	<div>
</article>