<section class="article-highlight large thanks">
  <img class="article-highlight-image" src="images/tatu_tamminen.jpg" alt="Tatu Tamminen">
  <div class="highlight-content">
    <h1 class="highlight-heading">Thanks a lot, you'll hear more from me shortly!</h1>
    <div class="u-left-aligned-content">
      <h4>Some of my most read articles:</h4>
      <ul>
        <li><a href="https://www.triplet.fi/blog/using-automation-and-delegation-to-bring-employment-advantages-to-freelancing/">Using automation and delegation to bring employment advantages to freelancing</a></li>
        <li><a href="https://www.triplet.fi/blog/4-day-work-week-lessons-learned/">4-day work week - Lessons learned</a></li>
      </ul>
    </div>
  </div>
</section>