<section class="article-highlight large thanks">
  <img class="article-highlight-image" src="images/tatu_tamminen.jpg" alt="Tatu Tamminen">
  <div class="highlight-content">
    <h1 class="highlight-heading">Great! You're now ready to receive project opportunities.</h1>
    <div class="u-left-aligned-content">
      <h4>Some articles that you might find interesting:</h4>
      <ul>
        <li><a href="https://www.triplet.fi/blog/hiring-practices-of-companies-and-how-to-be-part-of-the-game/">Modern hiring process and how to be part of the game</a></li>
        <li><a href="https://www.triplet.fi/blog/stop-requiring-job-applicants-to-be-passionate/">Stop Requiring Job Applicants To Be Passionate</a></li>
      </ul>
    </div>
  </div>
</section>