%widget {
	min-width: 200px;	
	display: inline-block;
	box-shadow: 0 9px 15px rgba(30, 30, 30, 0.5);
	@include rem(margin-bottom, 1.5em);

	> a {
		text-decoration: none;
	}
}

.article-highlight {
	@extend %widget;
	background-color: $t3-white;
}

.article-highlight.narrow {
	width: 33.73759647188534%;
	max-width: 304px;
	margin-left: 1.34020618556701%;
	margin-right: 1.34020618556701%;
}

.article-highlight-image {
	vertical-align: baseline;
	display: block;
	width: 100%;
	margin-top: -1px; // removes nasty white line :(
}

.highlight-heading, .text-highlight-heading {
	@include rem(margin-bottom, 2.625rem);
}

.highlight-subheading {
	color: $t3-green;
	display: block;
}

.highlight-date {
	@include rem(font-size, $small-font-size);
	color: $t3-silverchalice;
	text-transform: uppercase;
	display: block;
	font-weight: 200;
}

.highlight-content {	
	text-align: center;
	@include rem(margin-left, 1.5em);
	@include rem(margin-right, 1.5em);
	@include rem(padding-top, 2.625em);
}

.highlight-action-link {
	@include rem(margin-bottom, 1.5em);	
}

.text-highlight {
	@extend %widget;
	background-color: $t3-white;
}

.call-to-action {
	@extend %widget;
	background-color: $t3-green;
	text-align: center;

	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em; /* Adjusts for spacing */
	}
}

.call-to-action-header {
	@include rem(font-size, $alpha-font-size);
	margin-bottom: 0;
	font-weight: 200;
	border-bottom: 2px solid $t3-white;
	@include rem(padding-bottom, 0.8rem); 
	display: inline-block;
	vertical-align: middle;

	a, a:visited {
		color: $t3-white;
		text-decoration: none;
	}	
}