$blog-post-content-background-color: $t3-white;

%horizontal-rule {
	border-bottom: 1px solid #d7d7d7;
}

.blog-post {
	margin-bottom: 4em;
}

.blog-post img {
	max-width: 100%;
}

.blog-post-info-header {
	padding-bottom: 0.5em;
	@extend %horizontal-rule;
}

.blog-post-content {
	padding: 1em;
	background-color: $blog-post-content-background-color;

	@media screen and (min-width: 30em) {
		margin: 0 2em;
	}

	@media screen and (min-width: 40em) {
		padding: 2em 6em;
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: $content-max-width;
	}
}

.blog-post-caption {
	@include zeta;
	@include rem(margin-bottom, $zeta-font-size * 1.5);
	font-weight: 200;
}

.blog-post-body {
	padding-bottom: 5em;
	margin-bottom: 1em;
	@extend %horizontal-rule;
}

.blog-post-body .blog-post-caption {
	@include rem(margin-bottom, $zeta-font-size);
}

.blog-post-body p:last-child {
	margin-bottom: 0;
}

.blog-post-author {
	@extend %group;
}

.blog-post-author-caption {
	@include eta;
	font-weight: 200;
}

.blog-post-author-image {
	float: left;
	width: 30%;
	max-width: 194px;
}

.blog-post-author-description {
	float: left;
	width: 65%;
	margin-left: 5%;
	margin-top: 1rem;
}

.blog-post-author-description-text {
	margin-bottom: 0.5rem;
}

.blog-post-left-floated-content-image {
	margin-right: 2em;
	float: left;
}

.blog-post-right-floated-content-image {
	margin-left: 2em;
	float: right;
}