$blockquote-effect-color: $t3-green;

blockquote {
	font-size: 1.4em;
	margin:1em auto;
	font-style:italic;
	padding:1em 25px 1em 25px;
	border-left:8px solid lighten($blockquote-effect-color,20%);
	position: relative;
}

@media screen and (min-width: 30em) {
	blockquote {
		padding:1.2em 30px 1.2em 75px;
	}

	blockquote::before {
		font-family:Arial;
		content: "\201C";
		color:$blockquote-effect-color;
		font-size:4em;
		position: absolute;
		left: 10px;
		top: 20px;
	}
}

blockquote::after {
	content: '';
}

blockquote span {
	display:block;
	color:#333333;
	font-style: normal;
	font-weight: bold;
	margin-top:1em;
}

blockquote.plain {
	padding: 0 1em 0 1em;
	font-size: initial;
	border-left: 4px solid lighten($blockquote-effect-color,20%);

	&::before {
		content: '';
	}	
}