$blog-post-content-background-color: $t3-white;

%horizontal-rule {
	border-bottom: 1px solid #d7d7d7;
}

.blog-post {
	padding-bottom: 2em;
}

.blog-post img {
	max-width: 100%;
}

.blog-post .rss {
	position: absolute;
	right: 0;
	top: 0;
	margin-bottom: 0;
}

.blog-post-info {
	position: relative;
}

.blog-post-info-header {
	padding-bottom: 0.5em;
	@extend %horizontal-rule;
}

.blog-post-content {
	padding: 1em;
	background-color: $blog-post-content-background-color;
	@extend %widget;
	position: relative;

	@media screen and (min-width: 30em) {
		padding: 1em 2em;
		margin: 0 2em;
	}

	@media only screen and (min-width: 1399px), 
				 only screen and (min-width: 1200px) and (min-resolution: 192dpi)
	{
		padding: 2em 6em;
		display: inline-block;
		margin-left: calc(50% - #{$content-max-width / 2});
		margin-right: 0;
		max-width: $content-max-width;
	}
}

.blog-post-caption {
	@include zeta;
	@include rem(margin-bottom, $zeta-font-size * 1.5);
	font-weight: 200;
	width: 94%;
}

.blog-post-body {
	padding-bottom: 2em;
	margin-bottom: 2em;
	@extend %horizontal-rule;
}

.blog-post-body .blog-post-caption {
	@include rem(margin-bottom, $zeta-font-size);
}

.blog-post-body p:last-child {
	margin-bottom: 0;
}

.blog-post-author {
	@extend %group;
	position: relative;
}

.blog-post-author-image {
	@include centered-content;
	width: 45%;
	border-radius: 50%;
	margin-bottom: 1em;
	transition: border-radius 2s;

	@media screen and (min-width: 40em) {
		float: left;
		width: 30%;
	}
}

.blog-post-author-image:hover {
	border-radius: 0;
}

.blog-post-author-description {

	@media screen and (min-width: 40em) {
		@include vertical-align;
		left: 35%;
	}
}

.blog-post-author-description-text {
	margin-bottom: 0.5rem;
}

.blog-post-left-floated-content-image {
	margin-right: 2em;
	float: left;
}

.blog-post-right-floated-content-image {
	margin-left: 2em;
	float: right;
}