.discuss {
	@extend %centered-content;
	max-width: $content-max-width;
	margin-top: -1px;

	.m-moot {
		background-color: $t3-white;
		padding: 1em;
	}

	.is-commenting {
		padding: 0;
	}

	.m-page {
		padding: 0;
	}
}