$image-header-title-color: $t3-white;
$image-header-title-background-color: $t3-abbey;

.image-header {
	position: relative;
	background-size: contain;
	background-repeat: no-repeat;
	padding-bottom: 36.6%;
	//max-width: $max-width;
	@extend %centered-content;
	margin-bottom: 3em;

	h1 {
		@include delta;
		line-height: 1.2;
		font-weight: 200;
		color: $image-header-title-color;
	    position:absolute;
	    text-align:center;
	    background-color: rgba($image-header-title-background-color, 0.9);
	    top: 50%;
	    transform: translate(0%, -50%);
		padding: 0.5em 0.2em;	    
	    width: 100%;	    
	}

	img {
		max-width: 100%;
	}

	@media screen and (min-width: 40em) {
		h1 {
			@include alpha;
			left: 50%;
			transform: translate(-50%, -50%);
			padding: 0 0.6em;
		}
	}
}

.image-header.ratio-2-1 {
	padding-bottom: 50%;
}