$nav-background-color: $t3-fiord;
$nav-text-color: $t3-white;
$nav-text-color-hover: $t3-white;
$nav-background-color-hover: $t3-green;

.nav-base {
  list-style: none;
  background: $nav-background-color;
  padding-left: 0;
}

/* Navigation Menu - Background */
.nav-mobile {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.nav {
  display: none;
  margin-left: -5px;
  z-index: 0;
  vertical-align: top;
  @extend %widget;
}

.nav-fixed {
  position: fixed;
  top: 0;
  margin-left: 0; 
}

/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 200px;
  margin-left: auto;
}

.nav-item-link {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  color: $nav-text-color;
  @include zeta;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item-link:visited {
  color: $nav-text-color;
}

.nav-item-link:hover {
  color: $nav-text-color-hover;
  background: $nav-background-color-hover;
}

/* Site Wrapper - Everything that isn't navigation */
.content {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-color: $page-background-color; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: fixed;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  right: 15px; 
  bottom: 15px;
  z-index: 2;
  
  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url(/images/menu.png);
  background-image: 
    linear-gradient(transparent, transparent),
    url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB2ZXJzaW9uPScxLjEnIHg9JzBweCcgeT0nMHB4JyB3aWR0aD0nMzBweCcgaGVpZ2h0PSczMHB4JyB2aWV3Qm94PScwIDAgMzAgMzAnIGVuYWJsZS1iYWNrZ3JvdW5kPSduZXcgMCAwIDMwIDMwJyB4bWw6c3BhY2U9J3ByZXNlcnZlJz48cmVjdCBmaWxsPScjN2JhZjQyJyB3aWR0aD0nMzAnIGhlaWdodD0nNicvPjxyZWN0IGZpbGw9JyM3YmFmNDInIHk9JzI0JyB3aWR0aD0nMzAnIGhlaWdodD0nNicvPjxyZWN0IGZpbGw9JyM3YmFmNDInIHk9JzEyJyB3aWR0aD0nMzAnIGhlaWdodD0nNicvPjwvc3ZnPg==");
  background-size: contain;
}

/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

.nav-trigger:checked ~ .content {
  left: -200px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

@media screen and (min-width: 1399px) {
  label[for="nav-trigger"] {  
    position: initial;
    display: none;
  }

  .nav-mobile {
    display: none;
  }

  .nav-trigger:checked ~ .content {
    left: 0;
  }

  .nav {
    display: inline-block;
  }

  .blog-post-content {
    display: inline-block;
    margin-right: 0; 
  }
}