%group {
	zoom: 1; /* For IE 6/7 (trigger hasLayout) */

	&:before, &:after {
	    content: "";
	    display: table;
	}

	&:after {
		clear: both;
	}
}

%plain-list {
	list-style: none;
	padding-left: 0;
}

.u-plain-list {
	@extend %plain-list;
}

.u-centered-text {
	text-align: center;
}

@mixin centered-content() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin vertical-align() {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
}

%centered-content {	
	@include centered-content;
}

.u-centered-content {
	@extend %centered-content;
}

.u-left-aligned-content {
	text-align: left;
}