$t3-green: #7baf42;
$t3-abbey: #55565d;
$t3-white: #ffffff;
$t3-gallery: #eeeeee;
$t3-silverchalice: #a1a1a1;
$t3-spunpearl: #aaaaae;
$t3-fiord: #455565;

$max-width: 1366px;
$content-max-width: 996px;
$content-padding: 0.8em;

$page-background-color: $t3-abbey;
$link-color: $t3-abbey;
$link-hover-color: $t3-silverchalice;