@import "normalize";
@import "html-boilerplate";

@import "variables";
@import "helpers";

@import "rem";

@import "typography";
@import "icons";
@import "webicons";

@import "components/buttons";
@import "components/navigation";
@import "components/article-highlight";
@import "components/group";
@import "components/tag-selector";
@import "components/image-header";
@import "components/blog-post";
@import "components/blockquote";
@import "components/back";
@import "components/share";
@import "components/interview";
@import "components/site-intro";
@import "components/opt-in";
@import "components/notice";
@import "components/signup";

@import "pages/thanks";
@import "pages/shared";
@import "pages/blog-front";
@import "pages/main";

@import "vendor/highlightjs";

* {
	box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  height: 100%;
	color: $body-text-color;
}

/*
 * Let's target IE to respect aspect ratios and sizes for img tags containing SVG files
 *
 * [1] IE9
 * [2] IE10+
 */
/* 1 */
img[src*=".svg"] {
  width: 100%\9;
}
/* 2 */
@media screen and (min-width:0\0) {
	img[src*=".svg"] {
		width: 100%;
	}
}

body {
	background-color: $page-background-color;
  overflow-x: hidden;
}

a, a:visited, a:active {
	color: $link-color;
}

a:hover {
	color: $link-hover-color;	
}

a.emphasized {
	color: $t3-green;
	@include eta;
}

tbody:before {
    /* This doesn't work because of border-collapse */
    line-height:1em;
    content:".";
    color:rgba(0,0,0,0); /* background color */
    display:block;
}

th {
	text-align: left;
}

td {
	padding-right: 1em;
}