@import "normalize";
@import "html-boilerplate";

@import "variables";
@import "helpers";

@import "rem";

@import "typography";
@import "icons";

@import "components/buttons";
@import "components/article-highlight";
@import "components/group";
@import "components/tag-selector";
@import "components/image-header";
@import "components/blog-post";

@import "pages/shared";

@import "vendor/highlightjs";

* {
	box-sizing: border-box;
}

body {
	font-size: 100%;
	color: $body-text-color;
}

/*
 * Let's target IE to respect aspect ratios and sizes for img tags containing SVG files
 *
 * [1] IE9
 * [2] IE10+
 */
/* 1 */
img[src*=".svg"] {
  width: 100%\9;
}
/* 2 */
@media screen and (min-width:0\0) {
	img[src*=".svg"] {
		width: 100%;
	}
}

body {
	background-color: $page-background-color;
}

a, a:visited, a:active {
	color: $link-color;
}

a:hover {
	color: $link-hover-color;	
}