.read-my-blog {
	max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.skills-call-to-action-wrapper {
	.call-to-action {
		min-height: 150px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media screen and (min-width: 20em) {
	.skills-and-focus {
		display: flex;
		align-items: center;
		padding-top: 0;
	}
}

@media screen and (min-width: 30em) {
	.skills-call-to-action-wrapper {
		display: flex;
		flex-direction: column;

		> section {
			flex: 1 50%;
		}
	}

	.me-and-what-i-do-wrapper {
		display: flex;

		> .article-highlight {
			margin-right: 0.75rem;
		}

		> div {
			margin-left: 0.75rem;
		}

		> .article-highlight, > div {
			flex: 1 50%;
		}
	}	
}

@media screen and (min-width: 30em) and (max-width: 45em) {
	.references-wrapper {
		display: flex;
		flex-flow: row wrap;

		> section.mobile-split-half {
			flex: 1 46%;
			margin-right: 2%;
		}

		> section:nth-child(2n) {
			margin-right: 0;
		}

		> section {
			flex: 1 100%;
			margin-right: 0;
			margin-left: 0;
		}
	}
}

@media screen and (min-width: 45em) {
	.references-wrapper {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;

		> section {
			flex: 1 32%;
			max-width: 389px;
			margin-left: 0;
			margin-right: 2%;
		}

		> section:last-child {
			margin-right: 0;
		}
	}
}

.frontpage-testimonial {
	display: inline-block;
}