<li class="nav-item">
    <a class="nav-item-link" href="/">Home</a>
</li>
<li class="nav-item">
    <a class="nav-item-link" href="/blog">Blog</a>
</li>
<li class="nav-item">
    <a class="nav-item-link" href="mailto:tatu@triplet.fi?subject=Hi">Contact</a>
</li>